<div class="ag-format-container">
  <div class="ag-courses_box">






    <div class="ag-courses_item  ag-courses-item-1 ">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>




        <div class="ag-courses-item_title ag-courses-title-1">
          Search engine <br>optimization
                </div>


                <div class="ag-courses-item_image-frame">
                  <img src="assets/images/tokyo.png" alt="Image" class="ag-courses-item_image">
                </div>

                <div class="ag-courses-item_readmore-frame">
                  <img src="assets/images/Link.png" alt="Read More" class="ag-courses-item_readmore-image">
                </div>

      </a>
    </div>

    <div class="ag-courses_item  ag-courses-item-2">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          Pay-per-click <br>advertising        </div>

        <div class="ag-courses-item_image-frame">
          <img src="assets/images/window.png" alt="Image" class="ag-courses-item_image">
        </div>

        <div class="ag-courses-item_readmore-frame">
          <img src="assets/images/Link2.png" alt="Read More" class="ag-courses-item_readmore-image">
        </div>

      </a>
    </div>


    <div class="ag-courses_item ag-courses-item-3">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          Analytics and <br>Tracking        </div>

        <div class="ag-courses-item_image-frame">
                  <img src="assets/images/volumetric.png" alt="Image" class="ag-courses-item_image">
                </div>

                <div class="ag-courses-item_readmore-frame">
                  <img src="assets/images/Link3.png" alt="Read More" class="ag-courses-item_readmore-image">
                </div>
      </a>
    </div>



    <div class="ag-courses_item ag-courses-item-4">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title ag-courses-title-1">
          Social Media <br>Marketing        </div>

        <div class="ag-courses-item_image-frame">
          <img src="assets/images/browser.png" alt="Image" class="ag-courses-item_image">
        </div>

        <div class="ag-courses-item_readmore-frame">
          <img src="assets/images/Link4.png" alt="Read More" class="ag-courses-item_readmore-image">
        </div>

      </a>
    </div>

  </div>
</div>
